<style>
        {{style}}
</style>
<div class="surfcard-container">
    {{#if webcamLink}}
        <div class="surfcard-webcam-container">
            <iframe src="{{webcamLink}}" width="400" height="250" frameborder="0"></iframe>
        </div>
    {{/if}}
    <h1 class="surf-header">
        {{location}}
        <h2 class="surf-sub-header">
            {{subheader}}
        </h2>
    </h1>
    <table class="forecast">
        <tr>
            <th>
                Time:
            </th>
            {{#each time}}
                <td class="time">{{this}}</td>
            {{/each}}
        </tr>
        <tr>
            <th>
                Wind:
            </th>
            {{#each windspeed}}
                <td class="wind">{{this}}mph</td>
            {{/each}}
        </tr>
        <tr>
            <th>
                Swell:
            </th>
            {{#each swell}}
                <td class="swell">{{this}}ft</td>
            {{/each}}
        </tr>
    </table>
</div>